$feature_descriptions: $grey;

$overview_border: $violet;
// $overview_bg: white;
$preconditions_border: $green_light;
// $preconditions_bg: white;


.feature-label {
  @extend %label;
  border-color: $feature_color;
  margin: 18px 6px 6px 6px;
}

.feature-tags {
  @extend %tags;
}

.feature-keyword {
  @extend %label-keyword;
  background-color: $feature_color;
}

.feature-name {
  @extend %label-name;
}

%stats-badge {
  color: white;
  padding: 0 4px;
  border-radius: 5px;
  margin: 0px 1px;
}

.feature-stats {
  margin: 0px;
  padding: 2px 6px;
  font-size: 1em;
  float: right;

  span:nth-child(1) {
    @extend %stats-badge;
    background-color: $status_pass;
  }

  span:nth-child(2) {
    @extend %stats-badge;
    background-color: $status_fail;
  }

  span:nth-child(3) {
    @extend %stats-badge;
    background-color: $status_norun;
  }

  span:nth-child(4) {
    @extend %stats-badge;
    color: black;
    background-color: $status_undef;
  }
}

.feature-details-off {
  display: none;
}

.feature-scenarios {
  margin: 0px;
  height: auto;
}

.feature-scenario {
  margin: 0 12px;
  list-style: none;
  font-size: 0.8em;
}

%feature-desc-panel {
  margin: 6px 12px 6px 52px;
  border-radius: 0px 6px 6px 6px;
  border: 1px solid;

  p {
    margin: 2px 6px;
    font-size: 0.8em;
    color: $feature_descriptions;
  }
}

%feature-desc-panel-keyword {
  display: block;
  margin: 0;
  padding: 1px 6px;
  color: white;
  font-size: 0.8em;
  font-weight: 800;
}

.feature-overview {
  @extend %feature-desc-panel;
  // background-color: $overview_bg;
  border-color: $overview_border;
}

.feature-overview-keyword {
  @extend %feature-desc-panel-keyword;
  color: $overview_border;
  border-color: $overview_border;
}

.feature-preconditions {
  @extend %feature-desc-panel;
  // background-color: $preconditions_bg;
  border-color: $preconditions_border;
}

.feature-preconditions-keyword {
  @extend %feature-desc-panel-keyword;
  color: $preconditions_border;
  border-color: $preconditions_border;
}

.feature-author,
.feature-reviewer {
  // display: inline-block;
  font-size: 0.8em;
  margin: 0px 0px 0px 52px;
  color: $feature_descriptions
}