* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  /*margin: 0 10px;*/
  overflow-x: hidden;
  overflow-y: hidden;
}

pre {
  white-space: pre-wrap;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 0.8em;
  clear: both;
  margin: 0px 9px;
}

#feature-list {
  margin: 10px;
}

#feature-list,
#scenario-view
{
  float: left;
  margin: 10px 0px;
  padding: 0px 0px 0px 10px;
  box-sizing: border-box;
  overflow: scroll;
  height: inherit;
}
#feature-list.wide {
  width: 100%;
}

#feature-list.narrow {
  width: 50%;
}

#scenario-view {
  width: 50%;
}

#scenario-view {

}

.feature {
 /* margin-top: 24px;*/
}

.feature-tags,
.scenario-tags {
  margin-top: 3px;
  margin-bottom: 1px;
  color: rgb(50,140,231);
  font-style: italic;
  font-size: 0.8em;
}

.feature-tags {
  color: rgb(107,41,136);
}

.feature-label {
  overflow: hidden;
  border: 1px solid rgb(107,41,136);
  border-radius: 0 6px 6px 6px;
  cursor: pointer;
}

.feature-keyword {
  background-color: rgb(107,41,136);
  color: white;
  float: left;
  font-weight: 600;
  font-size: 0.8em;
  padding: 4px 6px;
  margin: 0px;
}

.feature-name {
  /*font-weight: 600;*/
  margin: 0px;
  padding: 2px 6px;
  font-size: 1em;
  float: left;
}
.feature-scenarios {
  margin: 0px;
  height: auto;
}

.feature-scenarios-hidden {
  height: 0px;
  overflow: hidden;
}


.scenario {
  margin: 0 12px;
  list-style: none;
  font-size: 0.8em;
}

/*in feature list view scenario name and status are smaller ones*/



.scenario-name,
.scenario-keyword,
.scenario-status {
  display: inline-block;
  margin: 0px;
  padding: 2px 6px;
  /*font-size: 1em;*/
}

.scenario-label {
  border: 1px solid rgb(50, 140, 231);
  border-radius: 0px 6px 6px 6px;
  overflow: hidden;
}

.scenario-keyword {
  background-color: rgb(50, 140, 231);
  color: white;
  float: left;
  font-weight: 600;
  font-size: 0.8em;
  padding: 4px 6px;
}

.scenario-name {
  float: left;
}

.scenario-status {
  float: right;
  background-color: rgb(212, 215, 219);
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 2px;
}

.scenario-background {
  margin: 6px 12px;
  background-color: rgb(232, 235, 239);
  border: 1px solid rgb(66,69,73);
  border-radius: 0px 6px 6px 6px;
}

.scenario-background-keyword {
    background-color: rgb(66, 69, 73);
    color: rgb(232, 235, 239);
    display: inline-block;
    font-size: 0.7em;
    margin: 0;
    padding: 3px 6px;
    float: left;
}

.scenario-steps,
.scenario-background-steps {
  list-style: none;
  padding: 0;
}

.scenario-background-steps {
  font-size: 0.8em;
  margin: 0;
  clear: left;
}

.scenario-steps {
  margin: 6px 12px;
  font-size: 0.8em;
}

.scenario-step {
  margin-top: 3px;
  margin-bottom: 3px;
}


.step-keyword,
.step-name {
  /*display: inline-block;*/
  font-size: 1.1em;
}

.step-keyword {
  width: 48px;
  font-weight: 600;
  text-align: right;
  display: inline-block;
}

.step-keyword-given .step-keyword {
  /*color: rgb(107,41,136);*/
  color: rgb(63,181,31);
}

.step-keyword-when .step-keyword{
  color: rgb(50,140,231);
}

.step-keyword-then .step-keyword{

  color: rgb(237,95,2);
}

.step-block-first {
  margin-top: 24px;
}

.step-block-first:first-child {
  margin-top: 0px;
}

.step-variable {
  color: rgb(107,41,136);
}


.step-datatable {
  margin-left: 48px;
  color: rgb(66,69,73);
}

.step-datatable tr {
  padding: 0px 3px;
}

.step-datatable td {
  padding: 0px 6px;
  border-left: 1px solid;
  border-color: rgb(107,41,136);
}

.step-datatable td:last-child {
  border-right: 1px solid;
  border-color: rgb(107,41,136);
}

.scenario-enterresult {
  background-color: rgb(232, 235, 239);
  border: 1px solid rgb(66,69,73);
  border-radius: 0px 6px 6px 6px;
  clear:both;
  padding: 12px 24px;
  margin: 6px 12px;
  overflow: auto;
}

.scenario-enterresult textarea {
  float: left;
}

.scenario-enterresult button {
  float: left;
  width: 100px;
  margin: 3px 0 3px 6px;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  padding: 3px 0px;

}

.scenario-enterresult .button-pass {
  background-color: #3FB51F;
}

.scenario-enterresult .button-fail {
  background-color: #ED5F02;
}

.scenario-enterresult .button-norun {
  background-color: #0A63B7;
}