// <--- GLOBAL COLOR DEFINITIONS FOR TEST EXECUTION VIEW --->
$feature_color: $violet;
$scenario_color: $blue_light;

$status_pass: $green_light;
$status_fail: $orange;
$status_norun: $blue_light;
$status_undef: $grey_light;
// <--- END OF COLOR DEFINITIONS --->

#feature-list,
#scenario-view
{
  float: left;
  margin: 0px;
  padding: 0px 0px 0px 10px;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 100%;
  width: 50%;

  .introduction {
    color: white;
    font-size: 2.5em;
    font-weight: 900;
    margin-top: 60px;
    text-align: center;
    opacity: 0.35;
  }
}

#feature-list .introduction {
  text-shadow: 1px 1px 2px $feature_color;
}

#scenario-view .introduction {
  text-shadow: 1px 1px 2px $scenario_color;
}

%label {
  border: 1px solid;
  border-radius: 0 6px 6px 6px;
  cursor: pointer;
  overflow: hidden;
}

%label-keyword {
  display: inline-block;
  color: white;
  float: left;
  font-weight: 600;
  font-size: 0.8em;
  padding: 4px 6px;
  margin: 0px;
}

%label-name {
  display: inline-block;
  margin: 0px;
  padding: 2px 6px;
  // font-size: 1em;
  float: left;
}

%tags {
  margin-top: 3px;
  margin-bottom: 1px;
  color: $blue_light;
  font-style: italic;
  font-size: 0.8em;
}

%description-panel {
  margin: 6px 12px 6px 52px;
  border-radius: 0px 6px 6px 6px;
  border: 1px solid;

  p {
    margin: 2px 6px;
    font-size: 0.8em;
  }
}

%description-panel-keyword {
  display: block;
  font-size: 0.8em;
  margin: 0;
  padding: 3px 6px;
  color: white;
  border-bottom: 1px solid;
}

@import 'testexecution/feature';
@import 'testexecution/scenario';